# CONFIG_PATH=".env"
HOST="0.0.0.0"
PORT=8055
PUBLIC_URL="/"

DB_CLIENT="pg"
DB_HOST="127.0.0.1"
DB_PORT="5432"
DB_DATABASE="db"
DB_USER="user"
DB_PASSWORD="123456789"
DB_SSL="false"

CACHE_ENABLED='true'
CACHE_STORE='redis'
REDIS='redis://cache:6379'

KEY='replace-with-random-value'
SECRET='replace-with-random-value'
ADMIN_EMAIL='admin@site'
ADMIN_PASSWORD='123123123'

# WEBSOCKETS_ENABLED="true"